.checkout {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 5rem;
}

.checkout__billing {
    flex-basis: 50%;
}

.checkout__billing,
.checkout__billing--form,
.checkout__order {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.checkout__billing--form fieldset {
    display: flex;
    gap: 1rem;
}

.checkout__billing--form fieldset input {
    flex-grow: 1;
}

.checkout__billing--form__account,
.checkout__billing--form__shipment {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.checkout__billing--form__account input,
.checkout__billing--form__shipment input,
.checkout__billing--form__coupon div input {
    flex-grow: 0 !important;
}

.checkout__billing--form__coupon {
    flex-direction: column;
}

.checkout__billing--form__coupon div {
    display: flex;
    gap: 2rem;
}

.checkout__billing--form__coupon div input:last-child {
    background-color: #333;
    color: white;
}

.checkout__order {
    flex-basis: 30%;
    row-gap: 3rem;
}

.checkout__order--details {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    border: 1px solid rgba(224 224 224 / .4);
    border-radius: 1rem;
}

.checkout__order--details > div {
    padding: 1.5rem;
    border-bottom: 1px solid rgba(224 224 224 / .4);
}

.checkout__order--details__name,
.checkout__order--details__product {
    display: flex;
    justify-content: space-between;
}

.checkout__order--details__name,
.checkout__order--payment__title {
    background-color: rgba(224 224 224 / .4);
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.checkout__order--details__product > div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.checkout__order--details__product > div > div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.checkout__order--details__product > div > div > div {
    display: flex;
    gap: 2rem;
}

.checkout__order--details__product--img {
    height: 8rem;
    width: 8rem;
}

.checkout__order--details__product--img img {
    border: 1px solid rgba(224 224 224 / .4);
    border-radius: 50%;
}

.checkout__order--details__product--price {
    align-self: center;
}

.checkout__order--details__cost {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.checkout__order--details__cost > div,
.checkout__order--details__total {
    display: flex;
    justify-content: space-between;
}

.checkout__order--payment {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    border: 1px solid rgba(224 224 224 / .4);
    border-radius: 1rem;
}

.checkout__order--payment__form {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.checkout__order--payment__form fieldset {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1.5rem;
}

.checkout__order--btn {
    display: flex;
}

.checkout__order--btn input {
    flex-grow: 1;
    background-color: rgb(49, 139, 212);
    color: white;
    border: none;
}
