.portfolio {
    display: flex;
    justify-content: center;
    gap: 5rem;

    padding: 4rem;
}

.left,
.right {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.portfolio__content--title {
    line-height: 0.9;
    font-size: 4rem;
    font-weight: 900;
}

.portfolio__content--para {
    margin-top: 2rem;
}

.portfolio__content--title span,
.portfolio__content--para span {
    display: block;
}

.portfolio__product--img {
    height: 40rem;
    margin-bottom: 2rem;
}

.portfolio__product--img img {
    border-radius: 1rem;
}

h6 {
    color: blue;
}

.portfolio__content,
.portfolio__product {
    display: flex;
    flex-direction: column;
}
