.sign-up {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    padding: 4rem;
}

.sign-up__content {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
}

.sign-up__content--para span {
    display: block;
}

.sign-up__content--form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, min-content);
    align-items: center;
    gap: 2.5rem;
}

.sign-up__content--form__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: start;

    color: blue;
    position: relative;
}

.sign-up__content--form__title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -7rem;
    height: 2px;
    width: 5rem;
    background-color: blue;
}

.sign-up__content--form__alternative {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.sign-up__content--form__alternative a {
    border: 1px solid lightgray;
    text-align: center;
    color: white;
}


.sign-up__content--form__alternative a:first-child {
    background-color: orange;
}

.sign-up__content--form__alternative a:last-child {
    background-color: blue;
}

.sign-up__content--form__alternative a i {
    margin-right: 1rem;
}

.sign-up__content--form__name {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.sign-up__content--form__name,
.sign-up__content--form__email,
.sign-up__content--form__password {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 0.5rem;
}

.sign-up__content--form__name input,
.sign-up__content--form__email input,
.sign-up__content--form__password input {
    background-color: rgb(237, 251, 255);
    border: none;
}

.sign-up__content--form__email {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.sign-up__content--form__password {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

.sign-up__content--form__terms {
    grid-column: 1 / -1;
    grid-row: 5 / 6;

    justify-self: start;
}

.sign-up__content--form__terms input {
    margin-right: 1rem;
}

.sign-up__content--form__terms a {
    padding: 0;
    color: blue;
}

.sign-up__content--form__submit {
    grid-column: 1 / 2;
    grid-row: 6 / 7;

    background-color: lightslategray;
    color: white !important;
}

